/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
#submit{
	margin-left: 210px;
	text-align: center;
	float: none;
}
#collection{
	margin-right: 290px;
	margin-left: 310px;
	margin-top: 62px;
}
#result1{
	float: right;
}
#result2{
	float: right;
}
#result3{
	float: right;
}
#result4{
	float: right;
}
#result5{
	float: right;
}
#result6{
	float: right;
}
#result7{
	float: right;
}
#C{
	float: right;
}